/* Color navbar*/
.bg-azzzul{
    background-color: rgb(14, 14, 77);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 59%, rgba(255,255,255,1) 100%);
}
/* Fin Color navbar*/
/* Iconos navbar*/
ul.list-group.list-group-horizontal{
    --bs-list-group-bg: transparent;
}
ul.list-group.list-group-horizontal {
    --bs-list-group-border-color: transparent;
}

i.fa-brands.fa-linkedin.fa-2xl:hover{
    color: rgb(87, 87, 236);
}
i.fa-brands.fa-instagram.fa-2xl:hover{
    color: rgba(228,9,70,1);
}
i.fa-brands.fa-github.fa-2xl:hover{
    color: rgb(255, 251, 0);
}
i.fa-solid.fa-user-lock.fa-2xl:hover{
    color: rgb(9, 102, 29);
}
a.linku { 
    --bs-link-color:rgb(8, 8, 10);
    
}
/* fin iconos navbar*/
    /* Banner*/
section.banner{
    background-image: url(../Img/hou.jpg);
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;

    }
    /* Fin Banner*/
    /* Foto de perfil*/
img.rounded-circle.img-fluid{
position: absolute;
z-index: 1;
height: auto;
width: 12rem; 
margin-top: 13rem;
margin-left: 1rem;
}  
/* Fin Foto de perfil*/
/* loggin*/
.Loginn{
    height: 75vh;
}
.col-8.formlogin{
    margin-top:12%;
}
/* Fin loggin*/
/* Fondo registro*/
body.fondoregistro{
    background-color: bisque;
}
/* Fondo registro*/
/* Fondo panel*/
body.fondopanel{
    background-color: rgb(212, 211, 211);
}
/* Fin Fondo panel*/
/* Color iconos panel*/



ul.list-group.list-group-horizontal{
    margin-right: -150px!important;
}


i.fa-solid.fa-hashtag.fa-2xl{
    color: rgb(228,9,70);
}
/* fin color iconos panel*/

/* posicion iconos  navbar altura en el index*/
ul.list-group.list-group-horizontal{
    position: relative;
    right: -350px;
    padding-top:30px ;
}
/* fin posicion iconos navbar altura en el index*/
/* Color icono de banner en panel*/
a.colorlinku{
    --bs-link-color:rgba(0, 0, 0, 0.952);
    text-decoration: none;
}
/* Color icono de banner en panel*/

/*i.fa-solid.fa-user-lock.fa-2xl{
    color: black;
}
/*button.btn.btn-primary{
    --bs-btn-bg:transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-bg:transparent;
    --bs-btn-hover-border-color: transparent;
}*/
/* posicion iconos navbar index horizontal*/
ul.list-group.list-group-horizontal{
    position:absolute;
    left: 68rem ;
    margin-top: -2rem;
}
/* Fin posicion iconos navbar index horizontal*/
/* Color icono user navbar index*/
i.fa-solid.fa-user-lock.fa-2xl{
    color: black;
}
/* Fin Color icono user navbar index*/
/* posicion seccion de presentacion "sobre mi" importante infiere en la ubicacion de las demas partes de la presentacion*/
section.presentacion{
    margin-top: 29rem!important;
    margin-left: -200px!important;
}
/* Fin posicion seccion presentacion*/
/* Posicion titulo sobre mi*/
h4.sobremi{
    margin-left: -800px!important;
}
/* Fin Posicion titulo sobre mi*/
/* posicion titulo experiencia*/
h4.experiencia{
    margin-left: -800px;
}
/* fin posicion titulo experiencia*/
/*posicionamiento foto de perfil y botones panel*/
img.panel.rounded-circle.img-fluid.w-15{
    position: relative;
    margin-left:-1rem ;
    margin-top: -1rem;
}
/* Fin posicionamiento foto de perfil y botones panel*/
h4.educacion{
    margin-left: -800px ;
}

h4.Hsss{
    margin-left: -670px;
}

h4.Proyecto{
    margin-left: -800px;
}